<!-- <p>total-visits works!</p> -->
  <!-- <div class="filter">
    <div class="name">Total visits</div>
    <div class="month">
        Month
        <div class="calendar"></div></div>

</div>  
  <div class="chart">
    <svg>
        <g class="xAsis">
            <text></text>
        </g>
        <g class="YAsis">
            <text></text>

        </g>
    </svg>
</div>
 
 --><canvas id="canvas" baseChart class="chart"
 [data]="lineChartData"
 [options]="lineChartOptions"
 [type]="lineChartType"
 (chartHover)="chartHovered($event)"
 (chartClick)="chartClicked($event)"></canvas>