:host {
  position: relative;
  display: flex;
  
    padding: 14px;
 flex-wrap: wrap;
  height:100% ;
   box-sizing: border-box;
  width:100%;


  border-radius: 6px;
  background-color: #2B2B4B;
}

.head {
  position: relative;
   width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  justify-content: space-between;
  padding-top: 14px;
  padding-bottom: 27px;
}

.name {
  position: relative;
  display: flex;
  height: 28px;
   white-space: nowrap;
  text-overflow: ellipsis;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
 

  color: #FFFFFF;
}

.toggle {
  position: relative;
  display: flex;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  padding: 8px;
  border: 1px solid #3D3C41;
  border-radius: 4px;

  img {
    position: relative;
    display: flex;
    width: 16px;
    height: 16px;
  }
}

.toggle:active {
  border: 2px solid #3812d4;
}


.container {
  position: relative;
  display: flex;
 width: 100%;
     height: fit-content;
  border-radius: 5px;
      justify-content: center;
 }

 
 canvas{
  position: relative;
 width: 100%;
 display: flex;
  }  




.red {
  background: linear-gradient(89.69deg, #F39034 2.03%, #FF2727 99.73%);
  box-shadow: 4px 4px 10px rgba(244, 144, 53, 0.3);
}

.blue {
  background: linear-gradient(270deg, #003AD2 0%, #0097EC 100%);
  box-shadow: 4px 4px 10px rgba(1, 149, 236, 0.3);
}

.green {
  background: linear-gradient(180deg, #2FFC8D 0%, #05AB48 100%);
}

.purple {
  background: linear-gradient(180deg, #944CEE 0%, #5D04CB 100%);
}